/* Contenedor principal */
.image-details-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 860px;
}

/* Contenedor del grupo de imágenes */
.image-group-container {
  display: flex;
  margin-bottom: 20px;
}

/* Columna principal: imagen principal */
.column-main {
  flex: 1;
  margin-right: 10px;
}

.main-image {
  width: 100%;
  height: auto;
}

/* Columna secundaria: contenedor de las sub-columnas */
.column-sub {
  display: flex;
  flex: 1;
  gap: 10px;
}

/* Sub-columnas para las imágenes del grupo */
.sub-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.group-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

/* Segunda fila: dos columnas */
.row {
  display: flex;
  justify-content: space-between;
}

/* Columna izquierda: relacionado con socio / no socios */
.column-left {
  flex: 1;
  margin-right: -22px;
  background-color: red;
}

/* Columna derecha: botón */
.column-right {
  flex: 1;
  margin-left: 10px;
  background-color: blue;
}

.button-container {
  margin-top: 20px;
}
